* {
  font-family: Arial, Helvetica, sans-serif;
}
h2,
h3 {
  color: white;
}

body {
  padding: 5%;
  background-color: #20232a;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
}

.categoriaItem-container {
  width: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
}
